footer {
    padding-top: 1rem;
    -webkit-box-shadow: 0px -11px 22px -3px rgba(0,0,0,0.22); 
    box-shadow: 0px -11px 22px -3px rgba(0,0,0,0.22);
    border-top: double 12px black;
    h3 {
        font-family: $hadar-font;
        font-size: 2.5rem;
    }
    ul {
        padding-left: 0;
        list-style-type: none; 
    }
    li {
        margin: 1rem;
        font-size: 1.2rem;
    }
    a {
        text-decoration: none;
        color: black;
        &:hover {
            color: rgb(45, 114, 244);
        }
    }
    i {
        margin: 1rem;
        font-size: 1.5rem;
        color: black;
        &:hover {
            color: rgb(45, 114, 244);
        }
    }
    .footer__title {
        display: block;
        font-size: 1.8rem;
        font-weight: bold;
        font-family: $hadar-font;
    }
    .footer__icon {
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .footer__pagina__link {
        font-size: 1rem;
        color: rgb(91, 91, 91);
        &:hover {
            color: black;
        }
    }
    .footer__nosotros {
        display: none;
    }
    @media (min-width:768px) {
        .footer__nosotros {
            display: initial;
        }
    }
}
.bubble {
    i {
        color: white;
        background: #25d366;
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 2rem;
        padding: 1rem;
        border-radius: 100%;
        animation-name: pulse;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;

    }
    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
        }
        80% {
            box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
        }
    }
}