header {
    background-color: #fff;
    ul {
        margin-top: 1rem;
        font-size: 1.2rem;
        font-family: 'Varta', sans-serif;
        font-weight: bold;
    }
    li {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    a {   
        &:hover {
            text-decoration: underline;
        }
    }
    .dropdown-item {
        font-size: 1.1rem;
        font-family: 'varta', sans-serif;
    }
    .nav__img {
        width: 100%;
        height: 4rem;
    }
    .dropdown-menu {
        border: none;
        animation: growOut 0.4s ease-in-out forwards;
        transform-origin: top center;
        .dropdown-divider {
            border: solid 0.5px rgb(197 2 255 / 30%);
        }
    }
    @keyframes growOut {
        0% {
            transform: scale(0)
        }
        80% {
            transform: scale(1.1)
        }
        100% {
            transform: scale(1)
        }
    }
}