.hero {
    background-image: url('../img/hadar-hero-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.us {
    padding-top: 3rem;
}