// Desarrollo Web
.desarrollo-web {
    margin-top: 5rem;
    p {
        font-size: 5rem;
    }
    img {
        height: 30rem;
        width: 35rem;
    }
}
// Servico Tecnico
.servicio-tecnico {
    margin-top: 5rem;
    p {
        font-size: 5rem;
    }
    img {
        height: 30rem;
        width: 40rem;
    }
}
// Desarrollo Software
.desarrollo-software {
    margin-top: 5rem;
    margin-bottom: 5rem;
    p {
        font-size: 5rem;
    }
    img {
        height: 30rem;
        width: 30rem;
    }
}

// Waves
.wave-top {
    height: 30vh;
    background-image: url('../img/bg/hadar-wave-top-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
}
.wave-bottom {
    background-image: url('../img/bg/hadar-wave-bottom-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
}