.desarrollo-web {
    background-color: aqua;
    height: 100vh;
}
.servicio-tecnico {
    background-color: red;
    height: 100vh;
}
.desarrollo-software {
    background-color: green;
    height: 100vh;
}