// Colors
$color-1: #437C90;
$color-2: #346B74;
$color-3: #255957;
$color-4: #ACACAD;
$color-5: #8AA295;
$color-6: #EEEBD3;
$color-7: #E6DFC1;

// Fonts
@font-face {
    font-family: hadar-font;
    src: url('../font/bank-gothic-light-bt.ttf');
}
$hadar-font: 'hadar-font';

